/* src/app/globals.css */

/* Réinitialisation de base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Variables de couleur inspirées des maquettes */
:root {
  --font-sans: 'Inter', sans-serif;

  /* Palette pour le site public (dark) */
  --dark-bg: #121212;
  --dark-card-bg: #1e1e1e;
  --dark-text-primary: #ffffff;
  --dark-text-secondary: #a0a0a0;

  /* Palette pour le Dashboard */
  --dash-bg: #f4f6f9;
  --dash-sidebar-bg: #0d1a3b; /* Bleu très foncé */
  --dash-card-bg: #ffffff;
  --dash-primary-blue: #3b82f6; /* Bleu pour les accents */
  --dash-text-light: #ffffff;
  --dash-text-dark: #111827;
}

body {
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}