/* Fichier: app/page.module.css */

.container {
  background-color: var(--background-color);
  color: var(--text-color-dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Styles pour le footer si n\u00e9cessaire */
.footer {
  margin-top: auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}
